*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#heading{
	color: #262322;
	text-align: center;
	margin: 30px auto 40px auto;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 45px;
	font-weight: 700;
}
.hero{
	display: flex;
	padding: 10px;
	/*flex-wrap:  wrap;*/
}
.hero > .box{
	padding: 13px 10px;
	border: 3px black solid;
	margin: 10px;
	padding: 30px;
	position: relative;
	background-color: #b3b4b3;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 24px;
}
.hero> .box > .inner{
	border: 3px black solid;
	border-top-width: 0;
	border-right-width: 0;
	height: 30px;
	width: 30%;
	margin-left: auto;
	margin-right: 0;
	display: flex;
	position: absolute;
	top:  0px;
	right: 0px;
	font-weight: 600;
	text-align: center;
	justify-content: center;
	
}
#in-1{
	background-color: #fbbbc6;
}
#in-2{
	background-color: #cf311f;
	color: white;
	font
}
#in-3{
	background-color: #e6ae20;
}

/* Phone */
@media screen and (max-width: 767px){
	.hero{
		display: flex;
		padding: 10px;
		flex-direction: column;
	}
	.hero > .box{
		padding: 13px 10px;
		border: 3px black solid;
		margin: 10px;
		padding: 30px;
		position: relative;
		background-color: #b3b4b3;
		font-family: 'Nanum Pen Script', cursive;
		font-size: 24px;
	}
	.hero> .box > .inner{
		border: 3px black solid;
		border-top-width: 0;
		border-right-width: 0;
		height: 30px;
		width: 30%;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		position: absolute;
		top:  0px;
		right: 0px;
		font-weight: 600;
		text-align: center;
		justify-content: center;
	}

}
/* Higher but less than desktops */
@media screen and (min-width: 768px) and (max-width: 991px){
	.hero{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.hero > .box{
		padding: 13px 10px;
		border: 3px black solid;
		margin: 10px;
		padding: 30px;
		position: relative;
		background-color: #b3b4b3;
		font-family: 'Nanum Pen Script', cursive;
		font-size: 24px;
	}
	#box-1, #box-2{
		flex: 1 1;
		width: 50%;
		display: inline;
	}
	#box-3{
		width: 100%;
	}
	.hero> .box > .inner{
		border: 3px black solid;
		border-top-width: 0;
		border-right-width: 0;
		height: 30px;
		width: 30%;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		position: absolute;
		top:  0px;
		right: 0px;
		font-weight: 600;
		text-align: center;
		justify-content: center;
	}
}