*{
	font-family: 'Fira Mono', monospace;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.navbar{
	border-radius: 0;
	background-color: rgba(0,0,0,0.8);
}
.navbar-brand{
	font-size: 35px;
	color: white;
	padding-left: 30px;
}
.navbar-brand:hover{
	color: white;
}

.navbar-nav{
	font-size: 25px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.navbar-toggle{
	border: 2px solid white;
	margin-right: 30px;
}
.icon-bar{
	background-color: white;
}
.main-title{
	margin-bottom: 15px;
	text-align: center;
	color: violet;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Fira Mono', monospace;
}
li{
	box-sizing: border-box;
	width: 100%;
}
.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}
.row{
	margin: 20px;
}
.item-name{
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgb(0,0,0,0.2);
	padding: 20px;
	font-size: 20px;
}